#prof_img {
    max-width:80%;
    height:auto;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.proj_img {
    max-height: 75px;
    width:auto;
    display: block;
    margin-left: auto;
    margin-right: auto

}

h5 {
    text-align: center !important;
}

.date {
    text-align: center;
    font-weight: bold;
}

.footer {
    text-align: center !important;
}

.jumbotron{
    background-color: #ccddff;
}